.center {
	margin: auto;
	text-align: center;
}


input {
	width: 250px;
	padding: 5px;
}


table {
	border-collapse: collapse;
	width: 100%;
}


td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}